.decalogo {
    background: #ADA996;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #8d7361, #c9bbae, #f7f4e5, #8b8da0);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #8d7361, #c9bbae, #f7f4e5, #8b8da0);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    margin-top: 1%;
    margin-bottom: 1%;
    padding: .5%;
}

.titulo-deu {
    font-size: 36px;
    font-weight: bold;
    text-align: center;
}

.texto {
    font-size: 35px;
    font-weight: bold;
}

.textoul {
    color: black;
}