* {
    border: 0 none;
    margin: 0;
    padding: 0;
}

html,
body {
    background-image: url("../img/fondo.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-attachment: fixed;
    height: 100%;
    margin: 0px;
}

.container-fluid {
    height: 100%;
}

.slider {
    height: 100%;
    min-height: 100%;
    overflow: hidden;
    text-align: center;
    width: 100%;
}

.slides {
    width: 100%;
    height: 100%;
    min-height: 100%;
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
}

.slides>div {
    align-items: center;
    align-content: center;
    color: #efefef;
    display: flex;
    font-family: 'librefranklin-black';
    flex-shrink: 0;
    height: 100%;
    justify-content: center;
    min-height: 100%;
    scroll-snap-align: start;
    padding-bottom: 8%;
    width: 100%;
    white-space: pre-line;
}

.slider {
    -webkit-overflow-scrolling: touch;
    scroll-snap-type: x mandatory;
}


/*------------------------*/

body {
    display: flex;
}

h1 {
    color: #efefef;
    font-size: calc(1em + 4vw);
    font-weight: 900;
}

h4 {
    color: #efefef;
    font-size: 2vw;
    font-family: 'librefranklin-black';
    padding-top: 2%;
}

h5 {
    color: #efefef;
    font-size: 3vw;
    font-family: 'librefranklin-black';
    padding-top: 2%;
}